.githubCardContainer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr auto auto 1fr;
}

.githubCardContainer > div:first-child {
  grid-column: 1 / span 4;
  padding: 0 60px;
}
