.githubCardContainer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(12, 1fr);
  padding: 30px 0;
}

.githubCardContainer > div:first-child {
  grid-column: 1 / span 12;
}

.githubCardContainer > div > :last-child {
  margin-top: 16px;
}
