.userDetailsContainer {
    padding: 0;
}

.userDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userDetails > h1,
h3 {
    margin: 0;
}

.userDetails > p {
    color: var(--gray);
}

.userDetailsContainer {
    display: flex;
    justify-content: center;
}
