.homeContainer {
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 20px;
}

.githubCard {
    background: var(--white);
    grid-row-start: 2;
    grid-column: 2 / auto;
    padding: 10px;
}

.searchForm {
    background: var(--white);
    grid-row-start: 3;
    grid-column-start: 2;
}
