.homeContainer {
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-columns: repeat(12, 1fr);
}

.githubCardParentContainer {
  background: var(--white);
  display: grid;
  grid-row-start: 2;
  grid-column: 2 / 12;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.error {
  bottom: 0;
  width: 100%;
  position: fixed;
  border: 0px solid var(--red-dark);
}
