.searchForm {
  display: grid;
  grid-row-start: 4;
  grid-column: 2/12;
}

.searchForm > input {
  border: none;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  font-family: 'Rubik', serif;
  font-weight: 300;

  grid-row-start: 4;
  grid-column: 1/5;
  padding: 0 20px;
  margin-right: 10px;
}

.searchForm > button {
  border: none;
  border-radius: 4px;
  background: var(--black);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 8px;
  cursor: pointer;

  grid-row-start: 4;
  grid-column: 5/7;
}
