.resultsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 5px;
    padding: 10px;
    background: #ffffff;
    border-radius: 7px;
}

.githubUserContainer {
    display: flex;
    border-radius: 5px;
    border: 1px solid #C8C8C8;
    width: 100%;
    margin: 7px 0;
    padding: 10px;
}