.resultsContainer {
  display: flex;
  flex-direction: column;
  margin: 20px 5px;
  padding: 10px 15px;
  background: #ffffff;
  border-radius: 7px;
  overflow-y: auto;
}

.resultsContainer > h3 {
  padding: 10px 0;
}

.offlineResults {
  padding: 5px 0;
}