.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.footerCaption {
  padding-right: 20px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
}