.githubUserContainer {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #c8c8c8;
  width: 100%;
  padding: 24px 0;
}

.offlineGithubUserContainer {
  padding: 0 30px;
}

.offlineGithubUserContainer > h3 {
  font-size: 16px;
}

.offlineGithubUserContainer > p,
.offlineStat > p {
  font-size: 12px;
  margin: 0;
  color: #777777;
}

.offlineStats {
  display: flex;
  justify-content: flex-start;
  margin-top: 8px;
}

.offlineStat {
  display: flex;
  align-items: center;
}

.offlineStat > h3 {
  margin-right: 8px;
}

.offlineStat:first-child {
  margin-right: 24px;
}